html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.form-horizontal .control-group {
    margin-bottom: 16px;
}

.wrap {
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: auto;
}

.main {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 12px auto;
    padding: 24px 15px;
    width: 720px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 1px 1px 12px 1px #ccc;
    -webkit-box-shadow: 1px 1px 12px 1px #ccc;
    -moz-box-shadow: 1px 1px 6px 12px #ccc;
}

.main label {
    display: block;
}

.main input {
    padding: 12px 8px;
    width: 240px;
}

.control-group label {
    font-weight: 400;
}

.control-group select,
.control-group input {
    line-height: 20px;
    height: auto;
    padding: 8px;
}

@media screen and (min-width:1080px) {
    .main {
        width: 56%;
    }

}

@media screen and (min-width:640px) {
    .main legend {
        margin: 0 auto;
        padding-left: 32px;
        width: 94%;
    }

}

@media screen and (max-width:640px) {
    .main {
        width: 100%;
    }

    .main legend {
        margin: 0 auto;
        width: 85%;
    }

    .controls select {
        margin: 4px 2px;
    }

}

@media screen and (max-width:520px) {
    .form-horizontal .control-label {
        width: 20%;
    }

    .form-horizontal .controls {
        margin-left: 80px;
    }

    .controls input {
        width: 78%;
    }

    .controls select,
    .controls option {
        width: 50%;
    }

    .protocal-check {
        width: 8% !important;
    }

}

.submit-controls {
    margin-left: 45px;
}

.info {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

div.tip {
    z-index: 1;
    border: 1px #70BBBB solid;
    width: 120px;
    display: inline;
    margin-left: 10px;
    position: relative;
    display: none;
    min-height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 4px;
}

div.tip span {
    z-index: 2;
    position: absolute;
    left: -13.8px;
    top: 5px;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: #70BBBB;
}

div.tip b {
    z-index: 3;
    position: absolute;
    left: -11.2px;
    top: 6px;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: #fff;
}

div.tip em {
    font-style: normal;
    color: #90D2C9;
}

.tip-tool {
    display: inline;
    width: auto;
}
